<div style="display: none">
  <input id="pac-input" class="controls" type="text" placeholder="Enter a location">
</div>
<div id="map"></div>
<div id='event-infowindow-contents'>
  {{#each events}}
  <div data-latitude={{latitude}} data-longitude={{longitude}} data-id={{id}} id="{{id}}-infowindow-content" class='event-infowindow'>
    <span class="place-name" class="title" data-eventname="{{eventname}}">{{eventname}}</span><br>
    <strong>Place ID:</strong> <span class="place-id" data-placeid={{placeid}}>{{placeid}}</span><br>
    <span class="place-address" data-address="{{address}}">{{address}}</span>
  </div>
  {{/each}}
</div>
<script src='/js/map.js'></script>
